{% load static %}
<header>
  <center>
     <p  style= "  font-family: helvetica, sans-serif;



             color:   grey;
             letter-spacing : .2em;

	         text-align: center;
	         text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8); font-weight:90px; font-size:36px; text-align: center; ">HELBAK!*=</p>
    <a href="{% url 'ecommerce_app:allProdCat' %}"></a>

  </center>
    <div class="text-justify" style= "  letter-spacing : .2em; color: white; font-style:courier; font-size:11.5px; background-color: #8ebf42; text-align: center;">

    <p >FREE STANDARD SHIPPING ON ORDERS OVER 2000

    </p>
</div>
</header>
